body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
}

.update_profile_container {
    display: flex;
    background: #F8F8F8;

    .main_pane {
        width: 100%;
        flex: 1;

        .middle_pane {
            display: flex;

            .pane1_3 {
                padding: 2rem;

                .avatar_title {
                    font-family: 'Noto Sans';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 16px;
                    text-align: center;
                    color: rgba(0, 0, 0, 0.3);
                }
            }

            .pane2_3 {
                display: flex;
                flex-direction: column;
                padding: 2rem;

                .label_1 {
                    font-family: 'Noto Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 16px;
                    color: rgba(0, 0, 0, 0.7);

                }

                .pane2_1 {
                    display: flex;

                    .update_input_fields {
                        background: #FFFFFF;
                        border: 1px solid rgba(0, 0, 0, 0.5);
                        border-radius: 5px;
                        box-sizing: border-box;
                        height: 36px;
                        width: 9rem;
                        margin-top: 8px;
                        margin-bottom: 8px;
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 19px;
                        color: rgba(0, 0, 0, 0.4);
                        padding-left: 12px;
                        margin-right: 6px;
                    }
                }

                .update_input_fields {
                    background: #FFFFFF;
                    border: 1px solid rgba(0, 0, 0, 0.5);
                    border-radius: 5px;
                    box-sizing: border-box;
                    height: 36px;
                    width: 18rem;
                    margin-top: 8px;
                    margin-bottom: 8px;
                    font-family: 'Noto Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 19px;
                    color: rgba(0, 0, 0, 0.4);
                    padding-left: 12px;
                }

                .btn_div {
                    display: flex;
                    justify-content: space-between;
                    padding-top: 2rem;

                    .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
                        background: #7662DC;
                        border-radius: 3px;
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 12px;
                        line-height: 16px;
                        text-align: center;
                        color: #FFFFFF;
                        width: 124px;
                        height: 36px;
                    }

                    .cancel_btn {
                        background: #D7D7D7;
                        border-radius: 3px;
                        color: #595959;
                    }
                }
            }


            .pane3_3 {
                display: flex;
                flex-direction: column;
                padding: 2rem;

                .label_1 {
                    font-family: 'Noto Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 16px;
                    color: rgba(0, 0, 0, 0.7);

                }

                .update_input_fields {
                    background: #FFFFFF;
                    border: 1px solid rgba(0, 0, 0, 0.5);
                    border-radius: 5px;
                    box-sizing: border-box;
                    height: 36px;
                    width: 18rem;
                    margin-top: 8px;
                    margin-bottom: 8px;
                    font-family: 'Noto Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 19px;
                    color: rgba(0, 0, 0, 0.4);
                    padding-left: 12px;
                    margin-right: 6px;
                }
            }
        }

        .footer_pane {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: rgba(0, 0, 0, 0.4);
            padding: 2rem;
        }
    }
}