body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
}

.login_container {
    height: 100%;
    margin: 0px;
    background-color: #FFF;
    display: flex;

    .left_pane {
        flex: 1;

        .social_logo {
            width: 10rem;
            margin-top: 2rem;
            padding-left: 1rem;
        }

        .welcome_heading {
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            align-items: center;
            padding-top: 6rem;

            .social_logo {
                width: 10rem;
                margin-top: 0 !important;
            }
        }

        .social_login_btn {
            cursor: pointer;
            box-sizing: border-box;
            background: #FFFFFF;
            display: flex;
            text-align: center;
            align-content: center;
            justify-content: center;
            align-items: center;
            margin-top: 15px;
            border: 1px solid #808080;
            border-radius: 5px;
            width: 20rem;
            height: 2.54rem;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: rgba(0, 0, 0, 0.4);
        }

        .login_form {
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            align-items: center;
            padding-top: 3rem;

            .registeration_fields {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: rgba(0, 0, 0, 0.4);
                border: 1px solid #808080;
                border-radius: 5px;
                box-sizing: border-box;
                margin-top: 4px;
                margin-bottom: 4px;
                width: 20rem;
                height: 2.5rem;
                padding-left: 1rem;
            }

            .show_image {
                position: absolute;
                bottom: 17.5rem;
                z-index: 9999;
                right: 13rem;
                cursor: pointer;
            }

            .form_forgot_text {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                text-align: right;
                color: #007DA8;
                margin-left: 12rem;
                cursor: pointer;
                padding-top: 20px;
            }

            .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
                margin-top: 2rem;
                background: #7662DC;
                border-radius: 5px;
                font-family: 'Inter';
                font-style: normal;
                font-size: 18px;
                line-height: 19px;
                text-align: center;
                color: #FFFFFF;
                border: 1px solid #808080;
                border-radius: 5px;
                box-sizing: border-box;
                width: 20rem;
                height: 2.5rem;
                text-transform: none;
            }
        }

        .signup_link {
            margin-top: 3rem;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: rgba(0, 0, 0, 0.8);
        }

        .signup_footer {
            margin-top: 1.6rem;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: rgba(0, 0, 0, 0.4);
        }
    }

    .login_right {
        flex: 1;
        height: 100vh;

        .right_pane_top {
            height: 50%;

            .right_pane_text {
                position: absolute;
                top: 10%;
                right: 25%;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 36px;

                color: #000000;
            }
        }

        background-image: url(../../Assets/Images/signupbgimg.png);
    }

}