body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
}

.calculate_2_container {
    display: flex;

    .middle_pane_calculate {
        flex: 1;
        background: #F8F8F8;

        .middle_pane_content {
            background: #FFFFFF;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            height: 38rem;
            margin: 32px;
            display: flex;

            .steps_pane {
                width: 230px;

                .steps_pane_part {
                    // height: 9.5rem;
                    background: #fff;
                    border-left: solid 5px #357AFF;
                    border-radius: 1px;
                    border-right: solid 2px #D9D9D9;
                    padding: 16px 36px 3px;
                    border-bottom: 1px solid #CCCCCC;

                    .steps_pane_title {
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 19px;
                        color: rgba(0, 0, 0, 0.6)
                    }

                    .followers_title {
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 19px;
                        color: rgba(0, 0, 0, 0.6);
                        padding-top: 8px;
                    }

                    .followers_count {
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 27px;
                        color: #000000;
                    }

                    .budget_influencers_title {
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 19px;
                        color: rgba(0, 0, 0, 0.6);
                        padding-top: 10px;
                    }

                    .budget_influencers_value {
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 27px;
                        color: #000000;
                        padding-left: 10px;
                    }

                    .deliverables {
                        display: flex;
                        justify-content: space-between;

                        .deliverables_value {
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 24px;
                            color: #000000;
                        }

                        .deliverables_title {
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 11px;
                            line-height: 15px;
                            max-width: 30px;
                            color: rgba(0, 0, 0, 0.6);
                        }
                    }

                    .filter_pane {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        padding: 5px 0 4px;

                        .filter_value {
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 27px;
                            color: #000000;
                            padding-left: 16px;
                        }
                    }

                    .cost_title {
                        padding: 25px 0 2px;
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 19px;
                        color: rgba(0, 0, 0, 0.6);
                    }

                    .cost_title {
                        padding: 25px 0 2px;
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 19px;
                        color: rgba(0, 0, 0, 0.6);
                    }

                    .cost_value {
                        padding: 0 0 36px;
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 27px;
                        color: #000000;
                    }
                }

                .steps_pane_part_inactive {
                    // height: 9.5rem;
                    background: #D9D9D9;
                    padding: 16px 36px 7px;
                    border-left: solid 5px #B6B6B6;
                    border-radius: 1px;
                    border-right: solid 2px #D9D9D9;
                    padding: 16px 36px 3px;
                    border-bottom: 1px solid #CCCCCC;

                    .steps_pane_title {
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 19px;
                        color: rgba(0, 0, 0, 0.6)
                    }

                    .followers_title {
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 19px;
                        color: rgba(0, 0, 0, 0.6);
                        padding-top: 8px;
                    }

                    .followers_count {
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 27px;
                        color: #000000;
                    }

                    .budget_influencers_title {
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 19px;
                        color: rgba(0, 0, 0, 0.6);
                        padding-top: 10px;
                    }

                    .budget_influencers_value {
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 27px;
                        color: #000000;
                    }

                    .deliverables {
                        display: flex;
                        justify-content: space-between;

                        .deliverables_value {
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 24px;
                            color: #000000;
                        }

                        .deliverables_title {
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 11px;
                            line-height: 15px;
                            max-width: 30px;
                            color: rgba(0, 0, 0, 0.6);
                        }
                    }

                    .filter_pane {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        padding: 5px 0 4px;

                        .filter_value {
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 27px;
                            color: #000000;
                            padding-left: 16px;
                        }
                    }

                    .cost_title {
                        padding: 25px 0 2px;
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 19px;
                        color: rgba(0, 0, 0, 0.6);
                    }

                    .cost_value {
                        padding: 0 0 36px;
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 27px;
                        color: #000000;
                    }
                }
            }

            .content_pane {
                display: flex;
                flex-direction: column;
                padding: 16px 32px;

                .step_title {
                    font-family: 'Noto Sans';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 33px;
                    color: #000000;
                }

                .step_count {
                    font-family: 'Noto Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 19px;
                    color: rgba(0, 0, 0, 0.7);
                    padding-top: 8px;
                }

                .step_desc {
                    font-family: 'Noto Sans';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 22px;
                    color: #000000;
                    width: 360px;
                    padding-top: 24px;
                }

                .deliverables_box {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 8px;

                    .deliverables_value {
                        display: flex;
                        background: #FFFFFF;
                        border: 1px solid rgba(0, 0, 0, 0.5);
                        border-radius: 5px;
                        width: 154px;
                        height: 36px;
                        align-items: center;
                        cursor: pointer;
                    }
                }

                .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
                    background: #7662DC;
                    border-radius: 3px;
                    font-family: 'Noto Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 16px;
                    text-align: center;
                    color: #FFFFFF;
                    width: 124px;
                    height: 36px;
                    margin-top: 2rem;
                    cursor: pointer;
                }
            }
        }
    }

    .right_pane {
        flex: 1;
        padding-left: 10rem;

        .image1 {
            background-image: url('../../../Assets/Images/step2bg.png');
            height: 45vh;
            background-repeat: no-repeat;
            margin-top: 2rem;
        }

        .image2 {
            height: 25vh;
            background-image: url('../../../Assets/Images/calculate2.png');
            background-repeat: no-repeat;
        }

        .indicator {
            font-family: 'Noto Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 16px;
            color: rgba(0, 0, 0, 0.3);
        }
    }
}