body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search_container {
    margin: 0px;
    background-color: #ffe3e3;

    .subcontainer {
        padding: 6.5rem 4rem 2rem 12rem;

        .filter_bar {
            display: flex;

            .css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
                margin-left: 1rem;
                margin-right: 1rem;
                margin-bottom: 2rem;
            }
        }

        .css-11xur9t-MuiPaper-root-MuiTableContainer-root {
            background-color: RGB(240 253 250);
            color: rgba(0, 0, 0, 0.87);
            -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            border-radius: 4px;
            box-shadow: none;
            width: 100%;
            overflow-x: auto;
        }

        .table_container {

            .css-1dydcym-MuiTableCell-root.MuiTableCell-body {
                font-size: 14px;
                background-color: rgb(241, 244, 248);
            }

            .css-132a6sb-MuiTableCell-root.MuiTableCell-body {
                font-size: 14px;
                background-color: rgb(241, 244, 248);
            }
        }
    }

}






// .container {
//     // margin: 0px;
//     background-color: RGB(240 253 250);

//     // .subcontainer {
//     //     padding: 5rem 8rem 0 7rem;;
//     // }

//     // .topbar {
//     //     display: flex;
//     //     flex-direction: row;
//     //     flex-wrap: nowrap;
//     //     align-content: center;
//     //     justify-content: space-between;
//     //     align-items: center;
//     //     background: rgb(241, 244, 248);
//     //     margin-bottom: 1rem;

//     //     .topbar_header {
//     //         margin: 1rem;
//     //     }
//     // }

//     // .searched_results {
//     //     .content_container {
//     //         .grid_container {
//     //             display: flex;
//     //             flex-direction: row;
//     //             flex-wrap: nowrap;
//     //             align-content: center;
//     //             justify-content: space-between;
//     //             align-items: center;

//     //             background: rgb(241, 244, 248);

//     //             .grid_item {
//     //                 margin: 1rem;
//     //                 width: 2rem;
//     //             }
//     //         }
//     //     }
//     // }
// }