body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
}

.basket_influencers_container {

    display: flex;
    height: 100%;
    margin: 0px;
    background-color: #FFF;

    .basket_influencers_container_content {
        display: flex;
        padding-left: 1rem;
        flex: 1;
        width: calc(100% - 25rem);

        .middle_pane_lists {
            padding-top: 2rem;
            flex: 1;
            width: calc(100% - 25rem);

            .list_category_header {
                height: 3rem;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 36px;
                color: #000000;
                padding-top: 1rem;
                padding-left: 1rem;
            }

            .filter_bar {
                display: flex;
                padding-top: 1rem;

                .css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
                    margin-left: 1rem;
                    margin-right: 1rem;
                    background-color: #0014C6;
                    color: #fff;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 21px;

                }

                .modal_section {
                    position: absolute;
                    z-index: 4;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: white;
                    padding: 1rem 1.5rem;
                    width: 24rem;
                    border-radius: 0.5rem;

                    .modal_option {
                        padding: 2rem;
                        max-height: 342px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        border-radius: 8px;
                        background-color: #f6f6f6;
                        box-shadow: var(--box-shadow-primary);
                        cursor: pointer;

                        .close_btn {
                            display: flex;
                            justify-content: flex-end;
                        }

                        input {
                            margin: 12px;
                        }
                    }
                }
            }

            .list_category_data {

                .css-11xur9t-MuiPaper-root-MuiTableContainer-root {
                    background-color: #fff;
                    color: rgba(0, 0, 0, 0.87);
                    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                    box-shadow: none !important;
                    width: 100%;
                    overflow-x: auto;

                    .css-xn82ks-MuiTable-root {
                        width: calc(100% - 2rem);

                        .css-y8ay40-MuiTableCell-root {
                            height: 30px;
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 30px;
                            color: #0014C6;
                        }

                        .css-dwuj3p-MuiTableCell-root {
                            height: 30px;
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 30px;
                            color: #0014C6;
                        }

                        .css-1ex1afd-MuiTableCell-root {
                            height: 30px;
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 30px;
                            text-decoration-line: underline;
                            color: #414141;
                        }

                        .css-1yhpg23-MuiTableCell-root {
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 30px;
                            color: #414141;
                        }

                        .css-1ex1afd-MuiTableCell-root {
                            display: flex;
                            align-items: center;
                            text-decoration-line: none;

                            .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
                                background: #0014C6;
                                margin-right: 10px;

                                span {
                                    font-family: 'Poppins';
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: 24px;
                                    color: #FFFFFF;
                                    display: flex;
                                    align-items: center;
                                    width: max-content;
                                    padding: 0;
                                    margin: 0;
                                }
                            }
                        }
                    }
                }

                .addList_section {
                    width: 200px;
                    max-height: 350px;
                    position: absolute;
                    z-index: 4;
                    padding-bottom: 8px;
                    top: initial;
                    padding-top: 10rem;

                    .addList_option {
                        max-height: 342px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        padding: 4px;
                        border-radius: 8px;
                        background-color: #f6f6f6;
                        box-shadow: var(--box-shadow-primary);
                        cursor: pointer;

                        .section_dropdown_header {
                            display: flex;
                            align-content: center;
                            align-items: center;
                            justify-content: space-between;
                        }
                    }
                }
            }
        }
    }
}

.side_influencers_bundle {
    width: 100%;
    box-shadow: 0px 0 4px 0 #edecf4;
    z-index: 1 !important;
    max-width: 240px;
    overflow-y: scroll;
    height: 100vh;

    .side_list_css {
        padding: 5rem 1rem 0;

        .sidebar_header {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #E95950;
            transform: matrix(1, 0.01, 0, 1, 0, 0);
            justify-content: center;
        }

        .bundle_box {
            background: linear-gradient(180deg, #E95950 0%, #FFA300 100%);
            box-shadow: 0px 0px 30px RGB(1 28 231 / 10%);
            border-radius: 20px;
            transform: matrix(1, 0.01, 0, 1, 0, 0);
            margin: 2rem 0;
            padding: 1rem;

            .influencers_image {
                box-sizing: border-box;
                width: 2rem;
                height: 2rem;
                border: 2px solid #FFFFFF;
                border-radius: 400px;
                background: black;
            }

            .bundle_title {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 30px;
                display: flex;
                align-items: center;
                text-align: center;
                color: #1C1C1C;
                transform: matrix(1, 0.01, 0, 1, 0, 0);
            }

            .bundle_btn {
                box-sizing: border-box;
                height: 29.37px;
                background: #FFFFFF;
                border-radius: 10px;
                width: 5rem;
                text-align: center;
                margin-left: 2rem;
                margin-top: 8px;
                cursor: pointer;
                ;
            }
        }
    }
}