body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
}

.basket_influencers_container {

    display: flex;
    height: 100%;
    margin: 0px;
    background-color: #FFF;

    .basket_influencers_container_content {
        display: flex;
        flex: 1;
        flex-direction: column;
        width: calc(100% - 25rem);

        .middle_pane_lists {
            padding-top: 2rem;
            flex: 1;
            width: calc(100% - 25rem);

            .list_category_header {
                height: 3rem;
                padding-top: 1rem;
                padding-left: 1rem;
                font-family: 'Noto Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 33px;
                color: #000000;
            }

            .list_desc {
                font-family: 'Noto Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 19px;
                padding-left: 1rem;
                color: rgba(0, 0, 0, 0.6);
            }

            .filter_bar {
                display: flex;
                padding-top: 1rem;

                .css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
                    margin-left: 1rem;
                    margin-right: 1rem;
                    background-color: #0014C6;
                    color: #fff;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 21px;

                }

                .modal_section {
                    position: absolute;
                    z-index: 4;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: white;
                    padding: 1rem 1.5rem;
                    width: 24rem;
                    border-radius: 0.5rem;

                    .modal_option {
                        padding: 2rem;
                        max-height: 342px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        border-radius: 8px;
                        background-color: #f6f6f6;
                        box-shadow: var(--box-shadow-primary);
                        cursor: pointer;

                        .close_btn {
                            display: flex;
                            justify-content: flex-end;
                        }

                        input {
                            margin: 12px;
                        }
                    }
                }
            }

            .list_category_data {
                margin-top: 2rem;
                margin-left: 4px;

                .css-11xur9t-MuiPaper-root-MuiTableContainer-root {
                    background-color: #fff;
                    color: rgba(0, 0, 0, 0.87);
                    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                    box-shadow: none !important;
                    width: 100%;
                    overflow-x: auto;

                    .css-xn82ks-MuiTable-root {
                        width: calc(100% - 2rem);

                        .css-y8ay40-MuiTableCell-root {
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 16px;
                            color: rgba(0, 0, 0, 0.5);
                            background: #D9D9D9;
                        }

                        .css-dwuj3p-MuiTableCell-root {
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 16px;
                            color: rgba(0, 0, 0, 0.5);
                            background: #D9D9D9;
                            z-index: 1;
                        }

                        .css-1ex1afd-MuiTableCell-root {
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 19px;
                            color: #000000;
                            background: #fff;
                        }

                        .css-1yhpg23-MuiTableCell-root {
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 19px;
                            color: #000000;
                            background: #fff;
                        }

                        .css-1ex1afd-MuiTableCell-root {
                            text-decoration-line: none;
                        }
                    }
                }

                .addList_section {
                    max-height: 350px;
                    position: absolute;
                    z-index: 4;
                    padding: 12px;
                    background: #FFFFFF;
                    border: 1px solid RGB(0, 0, 0, 0.2);
                    box-shadow: 2px 4px 4px RGB(0 0 0 / 25%);
                    border-radius: 5px;
                    top: 50%;
                    left: 70%;

                    .addList_option {
                        max-height: 342px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        padding: 10px;
                        border-radius: 8px;
                        cursor: pointer;

                        .section_dropdown_header {
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 22px;
                            color: #000000;
                        }

                        .section_list_title {
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 19px;
                            color: rgba(0, 0, 0, 0.7);
                            margin-top: 8px;
                        }

                        .list_options {
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 19px;
                            color: rgba(0, 0, 0, 0.8);
                            padding-top: 8px;
                            padding-bottom: 8px;
                        }
                    }
                }

                .compare_section {
                    position: absolute;
                    z-index: 4;
                    transform: translate(-50%, -50%);
                    background-color: white;
                    padding: 1rem 1.5rem;
                    background: #FFFFFF;
                    border: 1px solid RGB(0, 0, 0, 0.2);
                    box-shadow: 2px 4px 4px RGB(0 0 0 / 25%);
                    border-radius: 5px;
                    box-sizing: border-box;
                    width: 400px;
                    min-height: 363px;
                    top: 70%;
                    left: 85%;

                    .close_btn {
                        display: flex;
                        justify-content: flex-end;
                    }

                    .compare_headers {
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 22px;
                        color: #000000;
                    }

                    .compare_title {
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 19px;
                        color: rgba(0, 0, 0, 0.7);
                        margin-top: 1rem;
                    }

                    .compare_input {
                        background: #FFFFFF;
                        border: 1px solid rgba(0, 0, 0, 0.5);
                        border-radius: 5px;
                        width: 19rem;
                        height: 36px;
                        box-sizing: border-box;
                        margin-top: 8px;
                    }

                    .suggestions {
                        position: absolute;
                        background: #FFFFFF;
                        border: 1px solid rgba(0, 0, 0, 0.5);
                        border-radius: 5px;
                        z-index: 9999;
                        width: 19rem;
                        max-height: 150px;
                        overflow-y: scroll;
                        top: 40%;
                        left: 6%;

                        .active_inf {
                            padding: 12px;
                        }

                        .non_active {
                            padding: 12px;
                        }
                    }

                    .influencers_box {

                        .added_influencer {
                            background: #D9D9D9;
                            border-radius: 10px;
                            width: 17rem;
                            display: flex;
                            align-content: center;
                            align-items: center;
                            padding: 12px;
                            justify-content: space-between;
                            margin-top: 8px;
                        }

                        .clear_all {
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 16px;
                            color: #007DA8;
                            margin-top: 8px;
                        }

                        .btn_pane {
                            display: flex;
                            justify-content: space-between;
                            margin-top: 2rem;

                            .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
                                background: #7662DC;
                                border-radius: 3px;
                                font-family: 'Noto Sans';
                                font-style: normal;
                                font-weight: 700;
                                font-size: 12px;
                                line-height: 16px;
                                text-align: center;
                                color: #FFFFFF;
                                height: 2rem;
                            }

                            .clear_btn {
                                background: #D7D7D7;
                                border-radius: 3px;
                                font-family: 'Noto Sans';
                                font-style: normal;
                                font-weight: 700;
                                font-size: 12px;
                                line-height: 16px;
                                text-align: center;
                                color: #595959;
                            }
                        }
                    }
                }
            }
        }

        .side_influencers_bundle {
            overflow-y: scroll;
            height: 92vh;
            width: 100%;
            box-shadow: 0px 0 4px 0 #edecf4;
            z-index: 1 !important;
            max-width: 280px;
            background: #FBFBFB;
            border: 1px solid rgba(0, 0, 0, 0.2);

            .side_list_css {
                padding: 2rem 1rem 0;

                .select_pane {
                    display: flex;
                    justify-content: space-around;

                    img {
                        height: 18px;
                    }
                }

                .sidebar_header {
                    display: flex;
                    align-items: center;
                    text-align: center;
                    justify-content: center;
                    font-family: 'Noto Sans';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 27px;
                    color: #000000;
                    margin-top: 2rem;
                }

                .bundle_box {
                    margin: 2rem 0;
                    padding: 1rem;
                    background: #FFFFFF;
                    box-shadow: 0px 2px 4px RGB(0 0 0 / 25%);
                    border-radius: 5px;

                    .influencers_image {
                        box-sizing: border-box;
                        width: 2rem;
                        height: 2rem;
                        border: 2px solid #FFFFFF;
                        border-radius: 400px;
                        background: black;
                    }

                    .bundle_title {
                        font-size: 16px;
                        line-height: 22px;
                        display: flex;
                        align-items: center;
                        text-align: center;
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 500;
                        color: #000000;
                    }

                    .bundle_btn {
                        border-radius: 10px;
                        width: 5rem;
                        margin-top: 8px;
                        cursor: pointer;
                        background: #7662DC;
                        border-radius: 3px;
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 14px;
                        color: #FFFFFF;
                        height: 2rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}