body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
}

.signup_container {
    display: flex;

    .left_pane {
        flex: 1;

        .social_logo {
            width: 10rem;
            padding-top: 25px;
            padding-left: 1rem;
        }

        .signup_form {
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            align-items: center;
            padding-top: 90px;

            .signup_header {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 48px;
                line-height: 58px;
                color: rgba(0, 0, 0, 0.8);
            }

            .signup_title {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.188rem;
                text-align: center;
                color: rgba(0, 0, 0, 0.8);
                margin-top: 10px;
            }

            .input_boxes {
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: center;
                margin-top: 1rem;
                width: 18rem;

                .registeration_fields {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 1rem;
                    line-height: 1.188rem;
                    color: rgba(0, 0, 0, 0.4);
                    border: 1px solid #808080;
                    border-radius: 5px;
                    box-sizing: border-box;
                    margin-top: 4px;
                    margin-bottom: 4px;
                    height: 2.2rem;
                    padding-left: 1rem;
                }

                .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
                    margin-top: 1rem;
                    background: #7662DC;
                    border-radius: 5px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-size: 1rem;
                    line-height: 1.188rem;
                    text-align: center;
                    color: #FFFFFF;
                    border: 1px solid #808080;
                    border-radius: 5px;
                    box-sizing: border-box;
                    font-weight: 700;
                    text-transform: none;
                    height: 2.2rem;
                }

            }
        }

        .login_link {
            margin-top: 2rem;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.188rem;
            text-align: center;
            color: rgba(0, 0, 0, 0.8);
        }

        .social_login_btn {
            box-sizing: border-box;
            background: #FFFFFF;
            display: flex;
            text-align: center;
            align-content: center;
            justify-content: center;
            align-items: center;
            margin-top: 1.2rem;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 1rem;
            line-height: 24px;
            color: rgba(0, 0, 0, 0.4);
        }

        .signup_footer {
            margin-top: 1.6rem;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 17px;
            text-align: center;
            color: rgba(0, 0, 0, 0.4);
        }
    }

    .right_pane {
        flex: 1;
        background-image: url('../../Assets/Images/signupbgimg.png');
        height: 100vh;

        .right_pane_text {
            font-family: 'Poppins';
            font-style: normal;
            font-size: 1.25rem;
            line-height: 36px;
            color: #000000;
            position: absolute;
            bottom: 10%;
            right: 32%;
        }
    }
}