body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
}


.compare_lists_container {
    display: flex;
    background: #F8F8F8;

    .clear_btn_pane {
        display: flex;
        justify-content: flex-end;
        padding: 0 2rem;

        .clear_btn {
            font-family: 'Noto Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 0.875rem;
            line-height: 1rem;
            color: #007DA8;
            margin-top: 0.5rem;
            cursor: pointer;
        }
    }

    .result_pane {
        display: flex;
        padding: 2rem; //need to find soln
        overflow-x: auto;
        overflow-y: auto;
        height: 88vh;
        padding-bottom: 5rem;

        .add_influencers {
            background: #EBEBEB;
            width: 15rem;
            border-radius: 0.313rem;
            margin-left: 1rem;
            height: 100vh;

            .add_btn {
                font-family: 'Noto Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 8rem;
                line-height: 10.875rem;
                text-align: center;
                margin-top: 12rem;
                color: rgba(0, 0, 0, 0.4);
                cursor: pointer;
            }

            .add_inf {
                font-family: 'Noto Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 0.875rem;
                line-height: 1.188rem;
                text-align: center;
                color: rgba(0, 0, 0, 0.4);
                cursor: pointer;
            }

            .overlay {
                position: fixed;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.5);
                cursor: pointer;
                z-index: 0;

                .compare_section {
                    position: absolute;
                    z-index: 4;
                    background-color: white;
                    padding: 1rem 1.5rem;
                    background: #FFFFFF;
                    border: 0.063rem solid RGB(0, 0, 0, 0.2);
                    box-shadow: 0.125rem 0.25rem 0.25rem RGB(0 0 0 / 25%);
                    border-radius: 0.313rem;
                    box-sizing: border-box;
                    width: 25rem;
                    min-height: 22.688rem;
                    bottom: 0;
                    right: 0;

                    .close_btn {
                        display: flex;
                        justify-content: flex-end;
                        cursor: pointer;
                    }

                    .compare_headers {
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 1rem;
                        line-height: 1.375rem;
                        color: #000000;
                    }

                    .compare_title {
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 0.875rem;
                        line-height: 1.188rem;
                        color: rgba(0, 0, 0, 0.7);
                        margin-top: 1rem;
                    }

                    .compare_input {
                        background: #FFFFFF;
                        border: 0.063rem solid rgba(0, 0, 0, 0.5);
                        border-radius: 0.313rem;
                        width: 19rem;
                        height: 2.25rem;
                        box-sizing: border-box;
                        margin-top: 0.5rem;
                    }

                    .suggestions {
                        position: absolute;
                        background: #FFFFFF;
                        border: 0.063rem solid rgba(0, 0, 0, 0.5);
                        border-radius: 0.313rem;
                        z-index: 9999;
                        width: 19rem;
                        max-height: 9.375rem;
                        overflow-y: scroll;

                        .active_inf {
                            padding: 0.75rem;
                            cursor: pointer;
                        }

                        .non_active {
                            padding: 0.75rem;
                            cursor: pointer;
                        }
                    }

                    .influencers_box {

                        .added_influencer {
                            background: #D9D9D9;
                            border-radius: 0.625rem;
                            width: 17rem;
                            display: flex;
                            align-content: center;
                            align-items: center;
                            padding: 0.75rem;
                            justify-content: space-between;
                            margin-top: 0.5rem;
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 0.75rem;
                            line-height: 1rem;
                            color: rgba(0, 0, 0, 0.7);
                        }

                        .clear_all {
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 0.875rem;
                            line-height: 1rem;
                            color: #007DA8;
                            margin-top: 0.5rem;
                            cursor: pointer;
                        }

                        .btn_pane {
                            display: flex;
                            justify-content: space-between;
                            margin-top: 2rem;
                            cursor: pointer;

                            .add_list_btn {
                                background: #7662DC;
                                border-radius: 0.188rem;
                                font-family: 'Noto Sans';
                                font-style: normal;
                                font-weight: 700;
                                font-size: 0.75rem;
                                line-height: 1rem;
                                text-align: center;
                                color: #FFFFFF;
                                height: 2rem;
                            }

                            .clear_btn {
                                background: #D7D7D7;
                                border-radius: 0.188rem;
                                font-family: 'Noto Sans';
                                font-style: normal;
                                font-weight: 700;
                                font-size: 0.75rem;
                                line-height: 1rem;
                                text-align: center;
                                color: #595959;
                            }
                        }
                    }
                }
            }
        }

        .results {
            background: #FFFFFF;
            border: 0.063rem solid rgba(0, 0, 0, 0.2);
            border-radius: 0.313rem;
            width: 15rem;
            margin-left: 1rem;
            height: max-content;
            padding-bottom: 1rem;

            .listname {
                padding-top: 2.5rem;
                padding-bottom: 1rem;
                font-family: 'Noto Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 1.5rem;
                line-height: 2.063rem;
                text-align: center;
                color: #000000;
            }

            .inf_count {
                font-family: 'Noto Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 0.875rem;
                line-height: 1.188rem;
                text-align: center;
                color: rgba(0, 0, 0, 0.6);
            }

            .list_view {
                font-family: 'Noto Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 0.875rem;
                line-height: 1.188rem;
                text-align: center;
                color: #007DA8;
                padding-top: 0.25rem;
                cursor: pointer;
            }

            .category {
                padding: 1.75rem;

                .category_box {
                    background: #4D38B9;
                    border-radius: 0.188rem;
                    font-family: 'Noto Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 0.75rem;
                    line-height: 1rem;
                    text-align: center;
                    color: #FFFFFF;
                    margin: 0.25rem;
                    padding: 0.25rem;
                }
            }

            .detail_label {
                font-family: 'Noto Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 0.625rem;
                line-height: 0.875rem;
                text-align: center;
                color: RGB(0, 0, 0, 0.4);
                padding-top: 0.75rem;
                padding-bottom: 2.5rem;
            }

            .cost {
                font-family: 'Noto Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 1.25rem;
                line-height: 1.688rem;
                display: flex;
                align-items: center;
                text-align: center;
                color: #000000;
                justify-content: center;
            }

            .followers_count,
            .avg_like,
            .avg_comment,
            .avg_reach {
                font-family: 'Noto Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 1.25rem;
                line-height: 1.688rem;
                display: flex;
                align-items: center;
                text-align: center;
                color: #000000;
                justify-content: center;

                img {
                    margin-right: 0.75rem;
                }
            }

            .remove_btn {
                font-family: 'Noto Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 0.875rem;
                line-height: 1.188rem;
                color: #007DA8;
                text-align: center;
            }

            .detail_label_last {
                font-family: 'Noto Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 0.625rem;
                line-height: 0.875rem;
                text-align: center;
                color: RGB(0, 0, 0, 0.4);
                padding-top: 0.75rem;
                padding-bottom: 1.25rem;
            }

        }
    }
}

.inline_loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.col-lg-2 {
    @media (min-width: 992px) {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 12.666667%;
    }
}

// .col-md-2 {
//     @media (min-width: 768px) {
//         -ms-flex: 0 0 16.666667%;
//         flex: 0 0 16.666667%;
//         max-width: 12.666667%;
//     }
// }

// .col-sm-2 {
//     @media (min-width: 576px) {
//         -ms-flex: 0 0 16.666667%;
//         flex: 0 0 16.666667%;
//         max-width: 12.666667%;
//     }
// }

.col-lg-10 {
    @media (min-width: 992px) {
        -ms-flex: 0 0 87.333333%;
        flex: 0 0 87.333333%;
        max-width: 87.333333%;
    }
}

// .col-md-10 {
//     @media (min-width: 768px) {
//         -ms-flex: 0 0 87.333333%;
//         flex: 0 0 87.333333%;
//         max-width: 87.333333%;
//     }
// }

// .col-sm-10 {
//     @media (min-width: 576px) {
//         -ms-flex: 0 0 87.333333%;
//         flex: 0 0 87.333333%;
//         max-width: 87.333333%;
//     }
// }