body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile_container_box {
    display: flex;

    .profile_container {
        display: flex;
        height: 100vh;
        margin: 0px;
        background-color: #FFF;

        .profile_header {
            padding: 2rem;
            display: flex;
            flex-direction: column;

            .profile_pic {
                height: 5rem;
                width: 5rem;
            }

            .profile_basic_info {
                margin-left: 15rem;

                .profile_username {
                    font-family: 'Noto Sans';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 19px;
                    color: rgba(0, 0, 0, 0.6);
                }

                .profile_name {
                    padding-bottom: 1rem;
                    font-family: 'Noto Sans';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 33px;
                    color: #000000;
                }

                .profile_user_location {
                    font-family: 'Noto Sans';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 19px;
                    color: RGB(0, 0, 0, 0.8);
                    margin-top: 1rem;
                }

                .profile_category {
                    background: #4D38B9;
                    border-radius: 3px;
                    font-family: 'Noto Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 16px;
                    text-align: center;
                    color: #FFFFFF;
                    padding: 8px;
                    margin-top: 1rem;
                    width: fit-content;
                }

                .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
                    background: #7662DC;
                    border-radius: 3px;
                    font-family: 'Noto Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 16px;
                    text-align: center;
                    color: #FFFFFF;
                    margin-top: 1rem;
                    padding: 8px 29px;
                }
            }

            .profile_info_bar {
                padding-top: 8rem;

                .profile_info_bar_collection {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .detail_box {
                        padding: 0 2rem;

                        .profile_result_value {
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 24px;
                            line-height: 33px;
                            display: flex;
                            align-items: flex-end;
                            text-align: center;
                            color: #000000;
                        }

                        .labels {
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 16px;
                            display: flex;
                            align-items: flex-end;
                            text-align: center;
                            color: rgba(0, 0, 0, 0.6);
                            margin-left: 0;
                        }
                    }

                }

                .profile_demography {
                    padding: 4rem;

                    .demography_title {
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 27px;
                        color: #000000;
                    }
                }
            }
        }

        .profile_posts {
            padding: 2rem;
            text-align: center;

            .recent_posts_title {
                font-family: 'Noto Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 27px;
                color: #000000;
            }

            .image1 {
                padding: 1rem;
                display: flex;

                .recent_post_preview {
                    height: 10rem;
                }

                .like_comment_view_box {
                    display: flex;
                    flex-direction: column;
                    align-content: center;
                    justify-content: space-around;
                    align-items: center;
                    padding-left: 1rem;

                    img {
                        height: 20px;
                    }

                    .value_box {
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 22px;
                        display: flex;
                        align-items: center;
                        text-align: center;
                        color: #000000;

                        .like_comment_value {
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 22px;
                            display: flex;
                            align-items: flex-end;
                            text-align: center;
                            color: #000000;
                        }
                    }
                }
            }
        }

    }
}