body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
}

.calculate_container {
    display: flex;

    .middle_pane_calculate {
        flex: 1;
        background: #F8F8F8;

        .middle_pane_content {
            background: #FFFFFF;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            height: 38rem;
            margin: 2rem;
            display: flex;

            .steps_pane {
                width: 14.375rem;

                .steps_pane_part {
                    // height: 9.5rem;
                    background: #fff;
                    border-left: solid 5px #357AFF;
                    border-radius: 1px;
                    border-right: solid 2px #D9D9D9;
                    padding: 0.5rem 1rem 0.188rem;
                    border-bottom: 1px solid #CCCCCC;

                    .steps_pane_title {
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 0.875rem;
                        line-height: 1.188rem;
                        color: rgba(0, 0, 0, 0.6)
                    }

                    .followers_title {
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 0.875rem;
                        line-height: 1.188rem;
                        color: rgba(0, 0, 0, 0.6);
                        padding-top: 0.5rem;
                    }

                    .followers_count {
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 1.25rem;
                        line-height: 27px;
                        color: #000000;
                    }

                    .budget_influencers_title {
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 0.875rem;
                        line-height: 1.188rem;
                        color: rgba(0, 0, 0, 0.6);
                        padding-top: 10px;
                    }

                    .budget_influencers_value {
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 1.25rem;
                        line-height: 27px;
                        color: #000000;
                        padding-left: 10px;
                    }

                    .deliverables {
                        display: flex;
                        justify-content: space-between;

                        .deliverables_value {
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 1.5rem;
                            color: #000000;
                        }

                        .deliverables_title {
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 0.688rem;
                            line-height: 15px;
                            max-width: 30px;
                            color: rgba(0, 0, 0, 0.6);
                        }
                    }

                    .filter_pane {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        padding: 5px 0 4px;

                        .filter_value {
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 1.25rem;
                            line-height: 27px;
                            color: #000000;
                            padding-left: 16px;
                        }
                    }

                    .cost_title {
                        padding: 25px 0 2px;
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 0.875rem;
                        line-height: 1.188rem;
                        color: rgba(0, 0, 0, 0.6);
                    }

                    .cost_title {
                        padding: 25px 0 2px;
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 0.875rem;
                        line-height: 1.188rem;
                        color: rgba(0, 0, 0, 0.6);
                    }

                    .cost_value {
                        padding: 0 0 36px;
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 1.25rem;
                        line-height: 27px;
                        color: #000000;
                    }
                }

                .steps_pane_part_inactive {
                    // height: 9.5rem;
                    background: #D9D9D9;
                    padding: 16px 36px 7px;
                    border-left: solid 5px #B6B6B6;
                    border-radius: 1px;
                    border-right: solid 2px #D9D9D9;
                    padding: 16px 36px 3px;
                    border-bottom: 1px solid #CCCCCC;

                    .steps_pane_title {
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 0.875rem;
                        line-height: 1.188rem;
                        color: rgba(0, 0, 0, 0.6)
                    }

                    .followers_title {
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 0.875rem;
                        line-height: 1.188rem;
                        color: rgba(0, 0, 0, 0.6);
                        padding-top: 0.5rem;
                    }

                    .followers_count {
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 1.25rem;
                        line-height: 27px;
                        color: #000000;
                    }

                    .budget_influencers_title {
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 0.875rem;
                        line-height: 1.188rem;
                        color: rgba(0, 0, 0, 0.6);
                        padding-top: 10px;
                    }

                    .budget_influencers_value {
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 1.25rem;
                        line-height: 27px;
                        color: #000000;
                        padding-left: 10px;
                    }

                    .deliverables {
                        display: flex;
                        justify-content: space-between;

                        .deliverables_value {
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 1.5rem;
                            color: #000000;
                        }

                        .deliverables_title {
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 0.688rem;
                            line-height: 15px;
                            max-width: 30px;
                            color: rgba(0, 0, 0, 0.6);
                        }
                    }

                    .filter_pane {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        padding: 5px 0 4px;

                        .filter_value {
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 1.25rem;
                            line-height: 27px;
                            color: #000000;
                            padding-left: 16px;
                        }
                    }

                    .cost_title {
                        padding: 25px 0 2px;
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 0.875rem;
                        line-height: 1.188rem;
                        color: rgba(0, 0, 0, 0.6);
                    }

                    .cost_value {
                        padding: 0 0 36px;
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 1.25rem;
                        line-height: 27px;
                        color: #000000;
                    }
                }
            }

            .content_pane {
                display: flex;
                flex-direction: column;
                padding: 16px 32px;

                .steps_title {
                    font-family: 'Noto Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 0.875rem;
                    line-height: 1.188rem;
                    color: rgba(0, 0, 0, 0.7);
                }

                .pane_title {
                    font-family: 'Noto Sans';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 1.5rem;
                    line-height: 33px;
                    color: #000000;
                    padding-top: 0.5rem;
                }

                .filter_content {
                    font-family: 'Noto Sans';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 1rem;
                    line-height: 22px;
                    color: #000000;
                    padding-top: 24px;
                }

                .modal_section {
                    width: 350px;

                    .modal_option {
                        max-height: 342px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        cursor: pointer;

                        .modal_title {
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 1rem;
                            line-height: 22px;
                            color: #000000;
                        }

                        .label_slider {
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 0.875rem;
                            line-height: 1.188rem;
                            color: RGB(0, 0, 0, 0.5);
                            padding-top: 1rem;
                        }

                        .css-b62m3t-container {
                            min-width: 245px;
                        }

                        .slider_dropdown {
                            background: #FFFFFF;
                            border: 1px solid rgba(0, 0, 0, 0.5);
                            border-radius: 5px;
                            box-sizing: border-box;
                            height: 36px;
                            width: 260px;
                            margin-top: 1rem;
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 1rem;
                            line-height: 1.188rem;
                            color: rgba(0, 0, 0, 0.4);
                            padding-left: 12px;

                            option {
                                font-family: 'Inter';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 1rem;
                                line-height: 1.188rem;
                                color: rgba(0, 0, 0, 0.8);
                            }
                        }

                        .css-1aznpnh-MuiSlider-root {
                            color: #7662DC;
                            border-radius: 5px;
                            margin: 0;
                            margin-top: 1rem;
                        }

                        .css-yafthl-MuiSlider-markLabel {
                            font-size: 0.625rem;
                        }

                        .css-1eoe787-MuiSlider-markLabel {
                            font-size: 0.625rem;
                        }

                        .css-14pt78w-MuiSlider-rail {
                            background: #D9D9D9;
                            border-radius: 5px;
                        }

                        .css-eg0mwd-MuiSlider-thumb {
                            background: #FFFFFF;
                            border: 1px solid RGB(0, 0, 0, 0.2);
                            box-shadow: 0px 1px 2px RGB(0 0 0 / 25%);
                        }

                        .followers_count,
                        .followers_count_1 {
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 1.25rem;
                            line-height: 27px;
                            color: rgba(0, 0, 0, 0.7);
                            margin-top: 5px;
                        }

                        input {
                            margin: 12px;
                        }

                        .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
                            background: #7662DC;
                            border-radius: 3px;
                            width: 124px;
                            height: 36px;
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 0.75rem;
                            line-height: 16px;
                            text-align: center;
                            color: #FFFFFF;
                            margin-top: 2rem;
                        }
                    }
                }

                .content_bottom_pane {
                    display: flex;
                    flex-direction: column;
                    padding-top: 16px;

                    .select_title_field {
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 1rem;
                        line-height: 22px;
                        color: #000000;
                    }

                    label {
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 1rem;
                        line-height: 1.188rem;
                        color: rgba(0, 0, 0, 0.8);
                    }

                    .input_box {
                        background: #FFFFFF;
                        border: 1px solid rgba(0, 0, 0, 0.5);
                        border-radius: 5px;
                        box-sizing: border-box;
                        height: 32px;
                        width: 134px;
                        cursor: pointer;
                    }
                }

                .error_pane {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 1rem;
                    line-height: 1.188rem;
                    color: #D72828;
                    width: 650px;
                }

                .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
                    background: #7662DC;
                    border-radius: 3px;
                    font-family: 'Noto Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 0.75rem;
                    line-height: 16px;
                    text-align: center;
                    color: #FFFFFF;
                    width: 124px;
                    height: 36px;
                    margin-top: 4px;
                    cursor: pointer;
                }
            }

            .right_pane {
                flex: 1;

                .image1 {
                    background-image: url('../../Assets/Images/calculatebg1.png');
                    height: 45vh;
                    background-repeat: no-repeat;
                    margin-top: 2rem;
                }

                .image2 {
                    height: 25vh;
                    background-image: url('../../Assets/Images/calculate2.png');
                    background-repeat: no-repeat;
                }

                .indicator {
                    font-family: 'Noto Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 0.75rem;
                    line-height: 16px;
                    color: rgba(0, 0, 0, 0.3);
                }
            }
        }
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}