body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
}

.calculate_container {
    display: flex;
    height: 100%;
    margin: 0px;
    background-color: #FFF;

}