body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
}

.compare_influencers_container {
    display: flex;

    .result_pane {
        display: flex;
        padding: 2rem; //need to find soln
        overflow-x: scroll;
        overflow-y: scroll;
        height: 85vh;

        .results {
            background: #FFFFFF;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            width: 15rem;
            height: 58rem;
            margin-left: 1rem;

            .profile_container {
                padding: 1rem;
                display: flex;
                justify-content: center;

                .image {
                    width: 10rem;
                    height: 10rem;
                }
            }

            .profile_name {
                font-family: 'Noto Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 33px;
                text-align: center;
                color: #000000;
                cursor: pointer;
                padding: 10px 16px;
            }

            .profile_username {
                font-family: 'Noto Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                text-align: center;
                color: rgba(0, 0, 0, 0.5);
            }

            .profile_location {
                font-family: 'Noto Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 19px;
                text-align: center;
                color: rgba(0, 0, 0, 0.8);

            }

            .profile_category {
                background: #4D38B9;
                border-radius: 3px;
                font-family: 'Noto Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 16px;
                text-align: center;
                color: #FFFFFF;
                padding: 10px;
            }

            .profile_followers {
                padding: 10px 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Noto Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 27px;
                text-align: center;
                color: #000000;

                svg {
                    height: 2rem;
                    width: 2rem;
                }
            }

            .like_comment_box {
                display: flex;
                justify-content: space-evenly;
                padding: 10px;

                .profile_like {
                    display: flex;
                    align-items: center;

                    span {
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 22px;
                        display: flex;
                        align-items: flex-end;
                        text-align: center;
                        color: #000000;
                    }

                    svg {
                        height: 20px;
                        width: 20px;
                    }
                }

                .profile_comment {
                    display: flex;
                    align-items: center;

                    span {
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 22px;
                        display: flex;
                        align-items: flex-end;
                        text-align: center;
                        color: #000000;
                    }

                    svg {
                        height: 20px;
                        width: 20px;
                    }
                }

            }

            .list_remove_pane {
                cursor: pointer;
                display: flex;
                justify-content: space-around;
                font-family: 'Noto Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 19px;
                color: #007DA8;

                .addList_section {
                    max-height: 350px;
                    position: absolute;
                    z-index: 4;
                    padding: 12px;
                    background: #FFFFFF;
                    border: 1px solid RGB(0, 0, 0, 0.2);
                    box-shadow: 2px 4px 4px RGB(0 0 0 / 25%);
                    border-radius: 5px;
                    top: 60%;
                    left: 15%;

                    .addList_option {
                        max-height: 342px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        padding: 10px;
                        border-radius: 8px;
                        cursor: pointer;

                        .section_dropdown_header {
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 22px;
                            color: #000000;
                        }

                        .section_list_title {
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 19px;
                            color: rgba(0, 0, 0, 0.7);
                            margin-top: 8px;
                        }

                        .list_options {
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 19px;
                            color: rgba(0, 0, 0, 0.8);
                            padding-top: 8px;
                            padding-bottom: 8px;
                        }
                    }
                }
            }

            .recent_posts {
                padding: 20px 16px;

                .recent_posts_title {
                    font-family: 'Noto Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 16px;
                    color: rgba(0, 0, 0, 0.6);
                    padding: 8px;
                }

                .recent_post_box {
                    display: flex;
                    align-items: center;
                    padding: 12px 0;
                    justify-content: space-around;

                    img {
                        height: 100px;
                        width: 100px;
                    }
                }
            }

        }

        .add_influencers {
            background: #EBEBEB;
            width: 15rem;
            height: 58rem;
            border-radius: 5px;
            margin-left: 1rem;

            .add_btn {
                font-family: 'Noto Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 128px;
                line-height: 174px;
                text-align: center;
                margin-top: 12rem;
                color: rgba(0, 0, 0, 0.4);
                cursor: pointer;
            }

            .add_inf {
                font-family: 'Noto Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 19px;
                text-align: center;
                color: rgba(0, 0, 0, 0.4);
                cursor: pointer;
            }

            .compare_section {
                position: absolute;
                z-index: 4;
                transform: translate(-50%, -50%);
                background-color: white;
                padding: 1rem 1.5rem;
                background: #FFFFFF;
                border: 1px solid RGB(0, 0, 0, 0.2);
                box-shadow: 2px 4px 4px RGB(0 0 0 / 25%);
                border-radius: 5px;
                box-sizing: border-box;
                width: 400px;
                min-height: 363px;
                top: 70%;
                left: 85%;

                .close_btn {
                    display: flex;
                    justify-content: flex-end;
                    cursor: pointer;
                }

                .compare_headers {
                    font-family: 'Noto Sans';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 22px;
                    color: #000000;
                }

                .compare_title {
                    font-family: 'Noto Sans';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 19px;
                    color: rgba(0, 0, 0, 0.7);
                    margin-top: 1rem;
                }

                .compare_input {
                    background: #FFFFFF;
                    border: 1px solid rgba(0, 0, 0, 0.5);
                    border-radius: 5px;
                    width: 19rem;
                    height: 36px;
                    box-sizing: border-box;
                    margin-top: 8px;
                }

                .suggestions {
                    position: absolute;
                    background: #FFFFFF;
                    border: 1px solid rgba(0, 0, 0, 0.5);
                    border-radius: 5px;
                    z-index: 9999;
                    width: 19rem;
                    max-height: 150px;
                    overflow-y: scroll;
                    top: 40%;
                    left: 6%;

                    .active_inf {
                        padding: 12px;
                        cursor: pointer;
                    }

                    .non_active {
                        padding: 12px;
                        cursor: pointer;
                    }
                }

                .influencers_box {

                    .added_influencer {
                        background: #D9D9D9;
                        border-radius: 10px;
                        width: 17rem;
                        display: flex;
                        align-content: center;
                        align-items: center;
                        padding: 12px;
                        justify-content: space-between;
                        margin-top: 8px;
                    }

                    .clear_all {
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 16px;
                        color: #007DA8;
                        margin-top: 8px;
                        cursor: pointer;
                    }

                    .btn_pane {
                        display: flex;
                        justify-content: space-between;
                        margin-top: 2rem;
                        cursor: pointer;

                        .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
                            background: #7662DC;
                            border-radius: 3px;
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 12px;
                            line-height: 16px;
                            text-align: center;
                            color: #FFFFFF;
                            height: 2rem;
                        }

                        .clear_btn {
                            background: #D7D7D7;
                            border-radius: 3px;
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 12px;
                            line-height: 16px;
                            text-align: center;
                            color: #595959;
                        }
                    }
                }
            }
        }
    }
}