body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
}

.list_container {
    display: flex;
    height: 100%;
    margin: 0px;
    background-color: #FFF;

    .lists_content {
        display: flex;
        flex: 1;
        flex-direction: column;

        .middle_pane_lists {
            padding-top: 2rem;
            flex: 1;

            .list_headers {
                display: flex;
                justify-content: center;
                flex-direction: column;

                .input_search {
                    width: 55rem;
                    height: 3rem;
                    background: #FFFFFF;
                    box-shadow: 0px 15px 40px rgba(108, 108, 108, 0.15);
                    border: none;
                    border-radius: 40px;
                    font-family: 'Noto Sans';
                    font-style: italic;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                    color: rgba(0, 0, 0, 0.2);
                    padding-left: 1rem;
                    border: 1px solid rgba(0, 0, 0, 0.2);
                    border-radius: 5px;
                    color: rgba(0, 0, 0, 0.7);
                }

                .button_list {
                    margin-left: 1rem;
                    box-sizing: border-box;
                    height: 3rem;
                    background: linear-gradient(93.45deg, #FFFFFF 6.25%, rgba(255, 255, 255, 0) 99.35%);
                    border: 2px solid;
                    border-radius: 10px;
                }

                .list_toggler {
                    margin-left: 10rem;
                }

                .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
                    background: #FFFFFF;
                    border: 1px solid rgba(0, 0, 0, 0.2);
                    border-radius: 5px;
                    font-family: 'Noto Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 19px;
                    color: rgba(0, 0, 0, 0.7);
                    text-transform: none;
                }

                .modal_section {
                    position: absolute;
                    z-index: 4;
                    top: 60%;
                    left: 64%;
                    transform: translate(-50%, -50%);
                    width: 24rem;
                    border-radius: 0.5rem;
                    background: #FFFFFF;
                    border: 1px solid rgba(0, 0, 0, 0.2);
                    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 5px;
                    padding-left: 1rem;
                    padding-right: 3rem;
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    height: 460px;

                    .modal_option {
                        max-height: 342px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        cursor: pointer;
                        // padding: 1rem;

                        .modal_title {
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 22px;
                            color: #000000;
                        }

                        .label_slider {
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 19px;
                            color: RGB(0, 0, 0, 0.5);
                            padding-top: 1rem;
                        }

                        .css-b62m3t-container {
                            min-width: 245px;
                        }

                        .slider_dropdown {
                            background: #FFFFFF;
                            border: 1px solid rgba(0, 0, 0, 0.5);
                            border-radius: 5px;
                            box-sizing: border-box;
                            height: 36px;
                            width: 260px;
                            margin-top: 1rem;
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 19px;
                            color: rgba(0, 0, 0, 0.4);
                            padding-left: 12px;

                            option {
                                font-family: 'Inter';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 19px;
                                color: rgba(0, 0, 0, 0.8);
                            }
                        }

                        .css-1aznpnh-MuiSlider-root {
                            color: #7662DC;
                            border-radius: 5px;
                            margin: 0;
                            margin-top: 1rem;
                        }

                        .css-yafthl-MuiSlider-markLabel {
                            font-size: 10px;
                        }

                        .css-1eoe787-MuiSlider-markLabel {
                            font-size: 10px;
                        }

                        .css-14pt78w-MuiSlider-rail {
                            background: #D9D9D9;
                            border-radius: 5px;
                        }

                        .css-eg0mwd-MuiSlider-thumb {
                            background: #FFFFFF;
                            border: 1px solid RGB(0, 0, 0, 0.2);
                            box-shadow: 0px 1px 2px RGB(0 0 0 / 25%);
                        }

                        .followers_count {
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 16px;
                            color: RGB(0, 0, 0, 0.5);
                            margin-top: 10px;
                        }

                        .followers_count_1 {
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 16px;
                            color: RGB(0, 0, 0, 0.5);
                            margin-top: 32px;
                        }

                        input {
                            margin: 12px;
                        }

                        .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
                            background: #7662DC;
                            border-radius: 3px;
                            width: 124px;
                            height: 36px;
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 12px;
                            line-height: 16px;
                            text-align: center;
                            color: #FFFFFF;
                            margin-top: 2rem;
                        }
                    }
                }
            }

            .middle_pane_content {
                // padding-top: 1rem;
                padding-left: 2rem;
                overflow-y: scroll;
                height: 74vh;
                padding-bottom: 2rem;


                .categorised_inf {
                    padding-top: 1rem;
                    padding-left: 1rem;

                    .categorised_heading {
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 33px;
                        color: #000000;
                    }

                    .categorised_btn {
                        margin-top: 1rem;
                        display: flex;
                        justify-content: space-between;

                        .button_list {
                            border-radius: 10px;
                            height: 2rem;
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 12px;
                            line-height: 14px;
                            margin-bottom: 1rem;
                            margin-right: 1rem;
                            background: #7662DC;
                            color: #FFFFFF;
                        }

                        span {
                            width: 4rem;
                            height: 30px;
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 30px;
                            color: #0014C6;
                        }
                    }
                }

                .influencers_basket {
                    display: flex;
                    flex-wrap: wrap;
                    padding-left: 1rem;
                    padding-bottom: 1rem;
                    justify-content: space-around;

                    .influencers_basket_box {
                        box-sizing: border-box;
                        width: 410px;
                        height: 190px;
                        border-radius: 20px;
                        margin-right: 1.5rem;
                        margin-top: 1.25rem;
                        background: #FFFFFF;
                        box-shadow: 0px 2px 2px RGB(0 0 0 / 25%);
                        border-radius: 5px;
                        display: flex;

                        .influencers_image {
                            img {
                                height: 190px;
                                width: 148px;
                            }
                        }

                        .basket_right_pane {
                            display: flex;
                            flex-direction: column;

                            .influencers_category_header {
                                font-family: 'Noto Sans';
                                font-style: normal;
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 22px;
                                color: #000000;
                                padding: 14px 14px 8px;
                            }

                            .basket_p {
                                text-align: center;
                                font-family: 'Noto Sans';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 12px;
                                line-height: 16px;
                                color: rgba(0, 0, 0, 0.7);
                                width: 230px;
                                text-align: left;
                                padding: 0 14px;
                            }

                            .influencers_footer_btn {
                                width: 62px;
                                height: 32px;
                                border-radius: 15px;
                                display: flex;
                                justify-content: center;
                                background: #7662DC;
                                border-radius: 3px;
                                margin: 14px 14px 0;
                            }

                            span {
                                height: 21px;
                                font-family: 'Noto sans';
                                font-style: normal;
                                font-weight: 700;
                                font-size: 10px;
                                line-height: 21px;
                                color: #FFFFFF;
                                flex: none;
                                order: 0;
                                flex-grow: 0;
                            }
                        }
                    }
                }
            }
        }



    }

    .list_bar {
        width: 100%;
        box-shadow: 0px 0 4px 0 #edecf4;
        z-index: 1 !important;
        max-width: 320px;
        background: #FBFBFB;
        border: 1px solid rgba(0, 0, 0, 0.2);
        overflow-y: scroll;
        height: 93vh;
        overflow-x: hidden;

        .headers_title {
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 2rem;

            .headers {
                font-family: 'Noto Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 27px;
                color: #000000;
            }

            .add_list_btn {
                font-family: 'Noto Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: #007DA8;
                cursor: pointer;
            }

            .overlay {
                position: fixed;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.5);
                cursor: pointer;
                z-index: 1;

                .addList_section {
                    position: absolute;
                    z-index: 4;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 0.5rem;
                    padding: 2rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    border-radius: 8px;
                    background-color: #f6f6f6;
                    box-shadow: var(--box-shadow-primary);
                    cursor: pointer;
                    width: 25%;
                    width: 580px;

                    Label {
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 22px;
                        color: #000000;
                    }

                    .input_listname {
                        background: #FFFFFF;
                        border: 1px solid rgba(0, 0, 0, 0.5);
                        border-radius: 5px;
                        width: 15rem;
                        height: 2.5rem;
                        margin-top: 12px;
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 19px;
                        color: rgba(0, 0, 0, 0.4);
                    }

                    .input_description {
                        width: 437px;
                        height: 75px;
                        background: #FFFFFF;
                        border: 1px solid rgba(0, 0, 0, 0.5);
                        border-radius: 5px;
                        margin-top: 10px;
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 19px;
                        color: rgba(0, 0, 0, 0.4);
                    }

                    .deliverables_pane {
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        padding: 1rem;

                        .deliverable_value {
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 19px;
                            text-align: center;
                            color: rgba(0, 0, 0, 0.4);
                        }
                    }

                    .css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
                        margin-top: 1rem;
                        background: #7662DC;
                        border-radius: 3px;
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 12px;
                        line-height: 16px;
                        text-align: center;
                        color: #FFFFFF;
                        width: 8rem;
                    }

                    .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
                        margin-top: 1rem;
                        background: #D7D7D7;
                        border-radius: 3px;
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 12px;
                        line-height: 16px;
                        text-align: center;
                        color: #595959;
                        width: 8rem;
                    }

                    // }

                    // .css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
                    //     width: -webkit-fill-available;
                    //     margin-top: 1rem;
                    //     background-color: #0014C6;
                    //     color: #fff;
                    //     font-family: 'Poppins';
                    //     font-style: normal;
                    //     font-weight: 400;
                    //     font-size: 14px;
                    //     line-height: 21px;
                    // }
                }
            }
        }

        .list_clicked_data {
            padding: 2rem;

            .list_clicked_headers {
                margin-top: 2rem;
            }
        }

        .list_content {
            padding-top: 1rem;
            padding-left: 1rem;
            padding-right: 1rem;

            .list_name {
                margin-left: 0px;
                cursor: pointer;
                width: -webkit-fill-available;
                font-family: 'Noto Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 22px;
                color: #000000;
            }

            .list_content_inner {
                margin-top: 1rem;
                height: auto;
                padding: 12px;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                -webkit-box-pack: justify;
                justify-content: space-between;
                box-sizing: border-box;
                // height: 61px;
                background: #FFFFFF;
                box-shadow: 0px 4px 4px RGB(0 0 0 / 25%);
                border-radius: 10px;

                .list_head {
                    font-size: 16px;
                    display: flex;
                    -webkit-box-align: center;
                    align-items: center;
                    gap: 8px;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    color: #1C1C1C;
                    justify-content: space-between;
                }

                .list_desc {
                    font-family: 'Noto Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                    color: rgba(0, 0, 0, 0.7);
                    margin-top: 8px;
                }

                .list_footer {
                    margin-top: 1rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .list_view {
                        .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
                            background: #7662DC;
                            border-radius: 3px;
                            color: #fff;
                        }
                    }

                    .inf_count {
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 16px;
                        text-align: right;
                        color: rgba(0, 0, 0, 0.9);
                    }
                }
            }
        }
    }
}


.suggestions {
    background: #FFFFFF;
    border: 1px solid RGB(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px RGB(0 0 0 / 25%);
    border-radius: 5px;
    width: 55rem;
    max-height: 240px;
    position: absolute;
    z-index: 9999;
    top: 21%;
    left: 14%;
    overflow-y: scroll;

    .active {
        margin-left: 1rem;
        padding: 1rem;
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: rgba(0, 0, 0, 0.7);
        cursor: pointer;
    }

    div {
        margin-left: 1rem;
        padding-left: 1rem;
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: rgba(0, 0, 0, 0.7);
        cursor: pointer;
        padding-bottom: 1rem;
    }
}