body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
}

.calculate3_container {
    display: flex;

    .middle_pane_calculate {
        // @media (max-width: 1280px) {
        overflow-y: auto;
        height: 100vh;
        // }

        background: #F8F8F8;

        .middle_pane_content {
            background: #FFFFFF;
            border: 0.063rem solid rgba(0, 0, 0, 0.2);
            border-radius: 0.313rem;
            // height: 38rem;
            margin: 2rem;
            display: flex;

            .steps_pane {
                @media (max-width: 500px) {
                    display: none;
                }

                // width: 14.375rem;

                .steps_pane_part {
                    // height: 9.5rem;
                    background: #fff;
                    border-left: solid 0.313rem #357AFF;
                    border-radius: 0.063rem;
                    border-right: solid 0.125rem #D9D9D9;
                    padding: 1rem 2.25rem 0.438rem;
                    border-bottom: 0.063rem solid #CCCCCC;

                    .steps_pane_title {
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 0.875rem;
                        line-height: 1.188rem;
                        color: rgba(0, 0, 0, 0.6)
                    }

                    .followers_title {
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 0.875rem;
                        line-height: 1.188rem;
                        color: rgba(0, 0, 0, 0.6);
                        padding-top: 0.5rem;
                    }

                    .followers_count {
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 1.25rem;
                        line-height: 1.688rem;
                        color: #000000;
                    }

                    .budget_influencers_title {
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 0.875rem;
                        line-height: 1.188rem;
                        color: rgba(0, 0, 0, 0.6);
                        padding-top: 0.625rem;
                    }

                    .budget_influencers_value {
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 1.25rem;
                        line-height: 1.688rem;
                        color: #000000;
                        padding-left: 0.625rem;
                    }

                    .deliverables {
                        display: flex;
                        justify-content: space-between;

                        .deliverables_value {
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 1.5rem;
                            color: #000000;
                        }

                        .deliverables_title {
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 0.688rem;
                            line-height: 0.938rem;
                            max-width: 1.875rem;
                            color: rgba(0, 0, 0, 0.6);
                        }
                    }

                    .filter_pane {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        padding: 0.313rem 0 0.25rem;

                        .filter_value {
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 0.75rem;
                            line-height: 1.688rem;
                            color: #000000;
                            padding-left: 1rem;
                        }
                    }

                    .cost_title {
                        padding: 1.563rem 0 0.125rem;
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 0.875rem;
                        line-height: 1.188rem;
                        color: rgba(0, 0, 0, 0.6);
                    }

                    .cost_title {
                        padding: 1.563rem 0 0.125rem;
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 0.875rem;
                        line-height: 1.188rem;
                        color: rgba(0, 0, 0, 0.6);
                    }

                    .cost_value {
                        padding: 0 0 1rem;
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 1.25rem;
                        line-height: 1.688rem;
                        color: #000000;
                    }
                }

                .steps_pane_part_inactive {
                    // height: 9.5rem;
                    background: #D9D9D9;
                    // padding: 1rem 2.25rem 0.438rem;
                    border-left: solid 0.313rem #B6B6B6;
                    border-radius: 0.063rem;
                    border-right: solid 0.125rem #D9D9D9;
                    border-bottom: 0.063rem solid #CCCCCC;
                    padding: 2.25rem 2.25rem;

                    .steps_pane_title {
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 0.875rem;
                        line-height: 1.188rem;
                        color: rgba(0, 0, 0, 0.6)
                    }

                    .followers_title {
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 0.875rem;
                        line-height: 1.188rem;
                        color: rgba(0, 0, 0, 0.6);
                        padding-top: 0.5rem;
                    }

                    .followers_count {
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 1.25rem;
                        line-height: 1.688rem;
                        color: #000000;
                    }

                    .budget_influencers_title {
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 0.875rem;
                        line-height: 1.188rem;
                        color: rgba(0, 0, 0, 0.6);
                        padding-top: 0.625rem;
                    }

                    .budget_influencers_value {
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 1.25rem;
                        line-height: 1.688rem;
                        color: #000000;
                    }

                    .deliverables {
                        display: flex;
                        justify-content: space-between;

                        .deliverables_value {
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 1.5rem;
                            color: #000000;
                        }

                        .deliverables_title {
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 0.688rem;
                            line-height: 0.938rem;
                            max-width: 1.875rem;
                            color: rgba(0, 0, 0, 0.6);
                        }
                    }

                    .filter_pane {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        padding: 0.313rem 0 0.25rem;

                        .filter_value {
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 1.25rem;
                            line-height: 1.688rem;
                            color: #000000;
                            padding-left: 1rem;
                        }
                    }

                    .cost_title {
                        padding: 1.563rem 0 0.125rem;
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 0.875rem;
                        line-height: 1.188rem;
                        color: rgba(0, 0, 0, 0.6);
                    }

                    .cost_value {
                        padding: 0 0 1rem;
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 1.25rem;
                        line-height: 1.688rem;
                        color: #000000;
                    }
                }
            }

            .content_pane {
                display: flex;
                flex-direction: column;
                padding: 1rem 2rem;

                .step_count {
                    font-family: 'Noto Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 0.875rem;
                    line-height: 1.188rem;
                    color: rgba(0, 0, 0, 0.7);
                    padding-top: 0.5rem;
                }

                .step_title {
                    font-family: 'Noto Sans';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 1.5rem;
                    line-height: 2.063rem;
                    color: #000000;
                }

                .content_title {
                    font-family: 'Noto Sans';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 1rem;
                    line-height: 1.375rem;
                    color: #000000;
                    margin-top: 0.8rem;
                }

                .pane_1,
                .pane_2 {

                    .filter_1,
                    .filter_2 {
                        display: flex;
                        flex-direction: column;

                        label {
                            font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 0.875rem;
                            line-height: 1.188rem;
                            color: rgba(0, 0, 0, 0.8);
                            margin-top: 0.8rem;
                        }

                        .filter_field {
                            background: #FFFFFF;
                            border: 0.063rem solid rgba(0, 0, 0, 0.5);
                            border-radius: 0.313rem;
                            width: 15rem;
                            height: 1.5rem;
                            margin-top: 0.25rem;
                            box-sizing: border-box;
                        }

                        .filter_field_select {
                            background: #FFFFFF;
                            border-radius: 0.313rem;
                            min-width: 15rem;
                            max-width: 28rem;
                            height: 1.5rem;
                            margin-top: 0.25rem;
                        }

                        .filter_field_select>div {
                            div:nth-child(1) {
                                max-height: 6rem !important;
                            }
                        }
                    }
                }

                .pane_2_title,
                .pane_3_title {
                    margin-top: 2.5rem;
                    font-family: 'Noto Sans';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 1rem;
                    line-height: 1.375rem;
                    color: #000000;
                }

                .pane_3 {
                    .pane_3_filter {
                        margin-top: 1rem;
                        display: flex;
                        align-items: baseline;

                        .checkbox_input {
                            margin: 0;
                        }

                        label {
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 1rem;
                            line-height: 1.188rem;
                            color: rgba(0, 0, 0, 0.8);
                            margin-left: 0.8rem;
                            width: 4rem;
                        }

                        .filter_field {
                            background: #FFFFFF;
                            opacity: 0.5;
                            border: 0.063rem solid rgba(0, 0, 0, 0.5);
                            border-radius: 0.313rem;
                            width: 15rem;
                            height: 1.5rem;
                            margin-left: 1rem;
                        }

                        // .filter_field_select > div {
                        //     max-height: 8rem;
                        //     overflow: hidden;
                        // }

                        .filter_field_select {
                            background: #FFFFFF;
                            border-radius: 0.313rem;
                            width: 15rem;
                            height: 1.5rem;
                            margin-left: 1rem;
                        }

                        .filter_field_select>div {
                            div:nth-child(1) {
                                max-height: 6rem !important;
                            }
                        }
                    }
                }

                .next_btn {
                    background: #7662DC;
                    border-radius: 0.188rem;
                    font-family: 'Noto Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 0.75rem;
                    line-height: 1rem;
                    text-align: center;
                    color: #FFFFFF;
                    width: 7.75rem;
                    height: 2.25rem;
                    margin-top: 5rem;
                    cursor: pointer;
                }
            }

            .right_pane {
                @media (max-width: 900px) {
                    display: none;
                }

                @media (width: 1024px) {
                    display: none;
                }

                display: flex;
                flex-direction: column;
                justify-content: center;

                .image_1 {
                    background-image: url('../../../Assets/Images/step3bg.png');
                    height: 45vh;
                    background-repeat: no-repeat;
                    margin-top: 2rem;
                    background-size: contain;
                }

                .image_2 {
                    height: 25vh;
                    background-image: url('../../../Assets/Images/calculate2.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    margin-top: 4rem;
                    opacity: 0.2;
                }

                // .indicator {
                //     font-family: 'Noto Sans';
                //     font-style: normal;
                //     font-weight: 700;
                //     font-size: 0.75rem;
                //     line-height: 1rem;
                //     color: rgba(0, 0, 0, 0.3);
                // }
            }
        }
    }


}


.col-lg-2 {
    @media (min-width: 992px) {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 12.666667%;
    }

    height: 100vh;
}

// .col-md-2 {
//     @media (min-width: 768px) {
//         -ms-flex: 0 0 16.666667%;
//         flex: 0 0 16.666667%;
//         max-width: 12.666667%;
//     }
// }

// .col-sm-2 {
//     @media (min-width: 576px) {
//         -ms-flex: 0 0 16.666667%;
//         flex: 0 0 16.666667%;
//         max-width: 12.666667%;
//     }
// }

.col-lg-10 {
    @media (min-width: 992px) {
        -ms-flex: 0 0 87.333333%;
        flex: 0 0 87.333333%;
        max-width: 87.333333%;
    }
}

// .col-md-10 {
//     @media (min-width: 768px) {
//         -ms-flex: 0 0 87.333333%;
//         flex: 0 0 87.333333%;
//         max-width: 87.333333%;
//     }
// }

// .col-sm-10 {
//     @media (min-width: 576px) {
//         -ms-flex: 0 0 87.333333%;
//         flex: 0 0 87.333333%;
//         max-width: 87.333333%;
//     }
// }